* {
  box-sizing: border-box;
}

:root {
  --primary-blue: #3c5aa6;
  --primary-yellow: #ffcb05;
  --shadow-yellow: #c7a008;
  --light-blue: #2a75bb;
  --light-red: #ff0000;
  --dark-red: #cc0000;
  --white: #fff;
}

@font-face {
  font-family: "Pokemon Hollow";
  src: url(/assets/fonts/Pokemon\ Hollow.ttf);
}

body {
  margin: 0;
  background-color: var(--light-blue);
}

header {
  background-color: var(--white);
}

.error {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--white);
  text-align: center;
  border-radius: 5px;
}
/* fonts */

h1,
h2,
h3 {
  font-family: "Pokemon Hollow", Verdana;
  font-size: 2.5rem;
  text-align: center;
}

div,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(54, 54, 54);
}

.bold {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 0;
}

h1 {
  color: var(--primary-blue);
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 5px;
}

h2 {
  color: var(--primary-blue);
  font-size: 2rem;
  margin: 1rem 0 0 1rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

/* header */

header {
  text-align: center;
}

.border {
  border-bottom: 2px solid var(--dark-red);
  background-color: var(--white);
  height: 55px;
}

.pokeball {
  position: relative;
  top: 1.4rem;
}

.contact {
  display: inline-flex;
  background-color: var(--primary-blue);
  margin: 5px;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 8px;
}

/* search */

.filters {
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0 1rem 0.6rem 1rem;
  background-color: white;
  border-radius: 0 5px 5px 0;
}

#search {
  margin-left: 6px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 2px solid var(--primary-blue);
  height: 1.5rem;
}

/* nav */
.breadcrumb-nav {
  background-color: #fff;
  display: inline;
  padding: 0.5rem 1rem 0.5rem 3rem;
  position: absolute;
  top: 2.2rem;
  border-radius: 0 5px 5px 0;
  border-top: 2px solid var(--dark-red);
  border-right: 2px solid var(--dark-red);
  border-bottom: 2px solid var(--dark-red);
}

/* footer */

footer {
  text-align: center;
}

.footer-border {
  border-top: 2px solid var(--dark-red);
  background-color: var(--white);
  height: 150px;
}

.footer-pokeball {
  position: relative;
  bottom: 2rem;
}

/* index.html */
.container {
  margin: 1rem 0 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card,
.details-card {
  text-align: center;
  background-color: var(--primary-yellow);
  margin: 0.5rem;
  border-radius: 20px;
}

.content,
.details-content {
  padding-bottom: 1rem;
  padding-top: 1px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.number {
  background-color: var(--primary-blue);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 0 30px 10px var(--shadow-yellow);
  cursor: pointer;
}

/* details.html */
.poke-container {
  margin: 3rem 0;
  justify-content: center;
  display: flex;
}

.details-image img {
  width: 50%;
}

/* Contact.html */

.message-container {
  text-align: center;
  margin: 0 0 2rem 0;
}

.success {
  background-color: rgb(9, 87, 9);
  color: #fff;
  padding: 1rem 0;
  margin: 0;
  border-radius: 5px;
}

.form-error {
  color: red;
  font-size: 10px;
  display: none;
  position: relative;
  top: -0.7rem;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem 0;
}

#contact-form {
  width: 320px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
}

.input-container {
  margin-top: 1rem;
  line-height: 2.5rem;
}

input {
  width: 100%;
  height: 16px;
  display: block;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid var(--primary-blue);
}

label {
  padding: 2rem 0 2rem 0;
}

button {
  margin: 2rem 0 0 0;
  width: 100%;
  background-color: var(--primary-blue);
  padding: 1rem 0;
  color: #fff;
  border-radius: 5px;
  border: none;
}

button:hover {
  opacity: 90%;
  cursor: pointer;
}
